body
{
	background-color:#CFA76E;
}
html,
body {
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  width: 100vw;
}


* {
  box-sizing: border-box;
}
#logo
{
	height:47px;
	float:left;
}

#login_box
{
	background-color: white;
	
	 
	 height:408px;

}
main
{
	display:flex;
	justify-content: center;
	width:100%;
}

a {
  text-decoration: none;
}

#navbar{
  font-family: monospace;
  width:100vw;
  background-color: #E46B1D;
  height:47px;
}

ul {
  background:  #E46B1D;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {

  color: #fff;
  background:  #E46B1D;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  z-index:99;
}
  
li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: darkorange;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}


.box
{
	border: none;
  border-bottom: 2px solid lightgray;
outline: none;

width:100%;

}
.nothing
{
	float: right;
	padding:5px;
	padding-top: 20px;
}
#line
{
	border-bottom: 2px solid gray;
	clear: both;
}
.text
{
	padding:30px;
	
}
.check
{
	padding:20px;
}
.but
{
	padding:20px;
}
button[type=submit]
{
	width:100%;
	background-color: darkorange;
	border:none;
	height: 5vh;
	color: white;
	border-radius: 5px;
}

input:hover, input:focus
{
	border-bottom: 2px solid #CFA76E;
}
#piz
{
	
	
	 padding: 0px;
	 margin:0px;
}

.pizimg
{
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.29),
	 0 8px 20px 0 rgba(0, 0, 0, 0.19);

	 
}
@media only screen and (max-width: 1200px)
{
	
	
	main
	{
		flex-direction: column;
	}
	.pizimg
	{
		width:100vw;
	}
	#dropdown
	{
		display:block;
		clear:left;
	}
	#navbar
	{
		height: 94px;
	}
	#logo
	{
		position: relative;
		left:73px;
	}
	#dropdown
	{
		position: relative;
		left:30px;
	}
}


