body
{
  background-color:white;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  
}

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0px;
        display: inline-block;
       
        box-sizing: border-box;
         background: #f1f1f1;
          border: none;
    }
input[type=number] {
       width: 100%;
       padding: 10px 18px;
        
        margin: 8px 0px;
        display: inline-block;
       
        box-sizing: border-box;
         background: #f1f1f1;
          border: none;
    }
   .tickbox{
   position: relative;
   top:2px;
   }

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=time]:focus, select:focus,input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}
       select{
        width:100% ;
        padding: 9px 17px;
        margin: 8px 0;
        box-sizing: border-box;
         background: #f1f1f1;
          border: none;
    }

    .ring-daily{
        padding-top: 34px;
        padding-left: 105px;
    }



    /* set a style for all buttons*/
    button {
        background-color: green;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 100%;
    }
    /*set styles for the cancel button*/
    .cancelbtn {
        padding: 14px 20px;
        background-color: #FF2E00;
    }
    /*float cancel and signup buttons and add an equal width*/
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%
    }
    /*add padding to container elements*/
    .container {
       
        display: flex;
        flex-direction:column;
    }
    .v-container {
       
        display: flex;

    }
    .addpad
    {
      padding: 16px;
    }
    
    .spacing-right
    {
      margin-right: 10px;
      flex-grow:1 ;
    }
     .spacing-left
    {
      margin-left: 10px;
      flex-grow: 1;
    }
    .spacing
    {
      margin-left: 20px;
      
    }
    /*define the modal’s background*/
     
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
      
    }
    /*define the modal-content background*/
     
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
    }
    button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
    /*define the close button*/
     
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        color: #000;
        font-size: 40px;
        font-weight: bold;
    }
    /*define the close hover and focus effects*/
     
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
     
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.td-icon{
height: 50px;
}

table .absorbing-column {
    width: 100%;
}

#alarms {
  font-family: Arial, Helvetica, sans-serif;
  table-layout: auto;
   
  border-collapse: collapse;
  width: 100%;
  margin:auto;
}

#alarms td {
  padding: .75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

}


#alarms tr{
  
  border-top: 1px gray;
background-color: white;

}

#alarms tr:hover {  background-color:#06d6a0 ;}

#alarms th {
 
  padding: .75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
  background-color: black;
  color:white;

  
}
table{
  border-spacing: 0px;
  width: 100%;
}








     
    @media screen and (max-width: 300px) {
        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }

    @media screen and (max-width: 480px) {
        input[type=time] {
       width: 100%;
        padding: 9px 17px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #ccc;
        box-sizing: border-box;
    }
    }

